@model SessionIndexVM
<h1>Test Session</h1>
<p class="pBold onTheLine">Test Name: </p><p class="onTheLine"> @Model.TestName</p>
<p>
    <br />
    Test Description: @Model.TestDescription
    <br />
    Questions: @Model.NumberOfQuestions
    <br />
    Time Limit: @Model.TimeLimit
</p>

<a asp-action="StartSession" asp-controller="TestSession" asp-route-testId="@Model.TestId"><h1>START TEST</h1></a>
