@model SessionIndexVM
<div class="row">
    <div id="leftColumn" class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
    <div id="mainColumn" class="col-lg-6 col-md-6 col-sm-10 col-xs-10 whiteSquare">
        <h1>
            Test Name: @Model.TestName
            <br />
            Test Description: @Model.TestDescription
            <br />
            Questions: @Model.NumberOfQuestions
            <br />
            Time Limit: @Model.TimeLimit
        </h1>

        <a asp-action="StartSession" asp-controller="TestSession" asp-route-testId="@Model.TestId"><h1>START TEST</h1></a>
    </div>
    <div id="rightColumn" class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
</div>