@model ViewQuestionVM

<h1>@Model.TestTitle</h1>
<h2>@Model.QuestionIndex / @Model.NumOfQuestion</h2>
<h2>Time left: @Model.TimeLeft</h2>

<form asp-controller="TestSession" asp-action="ViewQuestion">

    @Html.Partial("_QuestionFormPartial", Model.QuestionFormVM)

    @if (Model.QuestionIndex > 1)
    {
        <input type="submit" name="submit" value="Previous" class="btn btn-info" />
    }
    
    @if(Model.QuestionIndex < Model.NumOfQuestion)
    {
        <input type="submit" value="Next" name="submit" class="btn btn-primary" />
    }
    else
    {
        <input type="submit" value="Submit" name="submit" class="btn btn-success" />
    }

</form>