@model ViewQuestionVM

<script>
    app.controller('questionController', ['$scope', '$timeout', '$interval', function ($scope, $timeout, $interval) {
        $scope.counter = @Model.SecondsLeft;
        var counting;
        $scope.countdown = function() {
            counting = $timeout(function() {
                console.log($scope.counter);
                $scope.counter--;   
                $scope.countdown();
                
                if ($scope.counter === 0){
                    alert('hello');
                    //$interval.cancel(stop);
                    //var alertPopup = $ionicPopup.alert({
                    //    title: 'Your Pizza Is Ready!',
                    //    template: 'Bon Appétit!'});
                }
            }, 1000);
        };
    }]);
</script>
    
<div ng-controller="questionController" ng-init="countdown();">
    <h1>@Model.TestTitle</h1>
    <h2>@Model.QuestionIndex / @Model.NumOfQuestion</h2>
    <h2>Time left: {{counter}}</h2>
    <hr />
    @{
        var progressBarProcent = Math.Floor(((double)Model.QuestionIndex / Model.NumOfQuestion) * 100);
    }
    <div>

        <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="@progressBarProcent"
                 aria-valuemin="0" aria-valuemax="100" style="width:@($"{progressBarProcent}%")">
                @Model.QuestionIndex of @Model.NumOfQuestion questions
            </div>

        </div>

        <form asp-controller="TestSession" asp-action="ViewQuestion">

            @Html.Partial("_QuestionFormPartial", Model.QuestionFormVM)

            @if (Model.QuestionIndex > 1)
            {
                <input type="submit" value="Previous" name="submit" class="btn btn-info" />
            }

            @if (Model.QuestionIndex < Model.NumOfQuestion)
            {
                <input type="submit" value="Next" name="submit" class="btn btn-primary" />
            }
            else
            {
                <input type="submit" value="Submit" name="submit" class="btn btn-success" />
            }

        </form>

    </div>
    <br />

</div>