@model AnswerDetailVM

<div class="modal fade" id="editAnswerModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Answer</h4>
            </div>
            <div class="modal-body">
                <div ng-app="oneApp">
                    <div>
                        <textarea asp-for="@Model.AnswerText" placeholder="@Model.AnswerText" id="mceAnswerBox" class="mceAnswerBox"></textarea>
                        <span asp-validation-for="@Model.AnswerText" class="text-danger"></span>
                        <br />
                        <input type="checkbox" name="vehicle" value="Bike"><p class="onTheLine LeftMargin5 pBold">Correct answer</p>
                        @*<button class="orcaBtn btnWidth120 TopMargin20" value="Save Changes" onclick="PartialEditAnswer(@Model.AnswerId)" id="@(" editAnswerButtonId"+Model.AnswerId)"><span class="fa fa-save rightMargin5"></span></button>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="orcaBtn leftFloat LeftMargin5 btnWidth120" data-dismiss="modal"><span class="fa fa-close rightMargin5"></span>Close</button>
                <button class="orcaBtn btnWidth120 LeftMargin5 leftFloat" value="Save Changes" data-dismiss="modal" onclick="PartialEditAnswer(@Model.AnswerId)" id="@("editAnswerButtonId"+Model.AnswerId)"><span class="fa fa-save rightMargin5"></span>Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function showModal() {
        $("#editAnswerModal").modal();
    });

    function PartialEditAnswer(answerId) {
        var answerText = tinymce.get('mceAnswerBox').getContent();
        $.post("/Admin/EditAnswerPartial",
            { answerId: answerId, answerText: answerText },
            function (data) {
                var listAnswerDiv = "#listAnswerDiv" + answerId;
                var editAnswerDiv = "#editAnswerDiv" + answerId;
                $(editAnswerDiv).hide();
                $(listAnswerDiv).show()
            });
    }

    //----------------------------------------------------------------//
    //                          TINY MCE                              //
    //----------------------------------------------------------------//
    tinymce.init({
        selector: '.mceAnswerBox',
        height: 100,
        width: 800,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
    //----------------------------------------------------------------//
    //----------------------------------------------------------------//
</script>