@model DashboardVM

<h1>Dashboard</h1>
<a asp-controller="Admin" asp-action="CreateTest"><button class="orcaBtn topBottomMargin20"><span class="fa fa-plus rightMargin5"></span>Create Test</button></a>
<div style="display:inline">
    @foreach (var test in Model.Tests)
    {
        <div class="whiteSquare TopMargin20">
            <p class="pBold onTheLine">@test.Name</p>
            <p class="pBold onTheLine rightMargin10">: </p>
            <p class="onTheLine">@test.Description</p>
            <a asp-controller="Admin" asp-action="ShowResults" asp-route-TestId="@test.Id"><button class="orcaBtn topMargin-8 leftRightMargin10" style="float: right;"><span class="fa fa-cog rightMargin5"></span>Show results</button></a>
            <a asp-controller="Admin" asp-action="ManageTestQuestions" asp-route-TestId="@test.Id"><button class="orcaBtn topMargin-8" style="float: right;"><span class="fa fa-cog rightMargin5"></span>Manage questions</button></a>
            <a asp-controller="Admin" asp-action="EditTestSettings" asp-route-TestId="@test.Id"><button class="orcaBtn topMargin-8 rightMargin10" style="float: right;"><span class="fa fa-pencil rightMargin5"></span>Settings</button></a>
        </div>
    }
</div>

