@model ManageTestQuestionsVM
<style>
    .buttons {
        display: flex;
        justify-content: center;
    }
</style>
<h1>Manage Test Questions</h1>
<h3>@Model.TestName</h3>
<p>@Model.Description</p>

<a asp-controller="Admin" asp-action="CreateQuestion" asp-route-TestId="@Model.TestId"><button class="orcaBtn BottomMargin20 btnWidth210"><span class="fa fa-plus rightMargin5"></span>Create New Question</button></a>
<a asp-controller="Admin" asp-action="Import" asp-route-TestId="@Model.TestId"><button class="orcaBtn BottomMargin20 btnWidth210"><span class="fa fa-download rightMargin5"></span>Import Questions</button></a>
<div>
    @foreach (var question in Model.Questions)
            {
        <div class="whiteSquare BottomMargin20" onclick="PartialPreview(@question.Id)">
            <div class="buttons rightFloat">
                <a asp-controller="Admin" asp-action="UpdateQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.TestId">
                    <button class="orcaBtn rightMargin10 btnWidth40"><span class="fa fa-pencil" title="Edit"></span></button>
                </a>
                <a asp-controller="Admin" asp-action="RemoveQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.TestId">
                    <button class="orcaBtn bgRed rightMargin10 btnWidth40"><span class="fa fa-trash" title="Remove"></span></button>
                </a>
                <button class="orcaBtn btnWidth40"><span id="@("btnPreview"+question.Id)" class="fa fa-eye"></span></button>
                @*<button class="orcaBtn btnWidth40" onclick="PartialPreview(@question.Id)" id="@("btnPreview"+question.Id)"><span class="fa fa-eye"></span></button>*@
                @*<button class="orcaBtn btnWidth40" onclick="PartialHide(@question.Id)" id="@("btnHide"+question.Id)" hidden="hidden"><span class="fa fa-eye-slash "></span></button>*@
            </div>

            @(Html.Raw("<i>" + (question.QuestionText)?
                        .ToString().Replace("<video", "[INSERTED VIDEO]").Replace("<img", "[INSERTED IMAGE]").Replace("<iframe", "[FRAME]")
                        .Substring(0, Math.Min(Html.Raw(question.QuestionText).ToString().Length, 50)) + "...</i>"))

            <div id="@("detailsDiv"+question.Id)" hidden></div>
            <br />
            <br />
        </div>
    }
</div>
<!-- floatat knapparna till höger, bra? in i css isf. ändrat Go Back/save till endast Dashboard-->
@*<button onclick="window.history.back()" class="orcaBtn btnWidth120 TopMargin20 bgRed" style="float:right"><span class="fa fa-angle-left rightMargin5" aria-hidden="true"></span>Go Back</button>*@
<a href="~/Admin/Dashboard"><button class="orcaBtn btnWidth210 leftFloat"><span class="fa fa-chevron-left rightMargin5"></span>Return to Dashboard</button></a>

<script>
    function PartialPreview(id) {
        $.get("/Admin/PreviewQuestionPartial",
            { id: id },
            function (data) {
                var buttonPrevId = "#btnPreview" + id;
                var divId = "#detailsDiv" + id;

                $(divId).html("</br>" + data);
                $(divId).toggle();

                if($(divId).is(":hidden")){
                    $(buttonPrevId).removeClass("fa-eye-slash");
                    $(buttonPrevId).addClass("fa-eye");
                }
                else{
                    $(buttonPrevId).removeClass("fa-eye");
                    $(buttonPrevId).addClass("fa-eye-slash");
                }
            });
    }

    //function PartialHide(id) {

    //    var buttonPrevId = "#btnPreview" + id;
    //    var buttonHideId = "#btnHide" + id;

    //    $(buttonPrevId).show();
    //    $(buttonHideId).hide();

    //    var divId = "#detailsDiv" + id;
    //    $(divId).hide();
    //}
</script>
