@model ManageTestQuestionsVM

<p>@Model.TestName</p>
<p>@Model.Description</p>


<ul>
    @foreach (var question in Model.Questions)
    {
        <li>
            <div id="detailsDiv">

            </div>

            <br />

            <div style="border: solid black 1px;">
                @question.Name
                <a asp-controller="Admin" asp-action="ManageQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.testId">Edit</a>
                <a asp-controller="Admin" asp-action="RemoveQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.testId">>Remove</a>
                <button onclick="PartialPreview(@question.Id)" id="previewId"> Preview </button>
            </div>
        </li>
    }
</ul>

<script>

    function PartialPreview(id) {

    $.get("/Admin/PreviewQuestionPartial",
        { id: id },
        function (data) {
            $("#detailsDiv").html(data);

            console.log(id);
        });
    }

</script>