@model ManageTestQuestionsVM
<style>
    .buttons {
        display: flex;
        justify-content: flex-end;
    }
</style>

<p>@Model.TestName</p>
<p>@Model.Description</p>

<table class="table table-responsive">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody class="table table table">
        @foreach (var question in Model.Questions)
        {
            <tr>
                <td></td>
            </tr>

            <tr>
                <td>
                    @question.Name
                    <div class="buttons">
                        <a asp-controller="Admin" asp-action="ManageQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.testId">
                            <span class="glyphicon glyphicon-pencil" style="color:khaki; font-size:x-large" title="EDIT"></span>
                        </a>
                        <a asp-controller="Admin" asp-action="RemoveQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.testId">
                            <span class="glyphicon glyphicon-remove" style="color:darkred; font-size:x-large" title="EDIT"></span>
                        </a>
                        <button onclick="PartialPreview(@question.Id)" id="previewId"> Preview </button>
                    </div>

                    <div id="@("detailsDiv"+question.Id)">
                        @*Preview Question*@
                        @*If possible, place beside the correct question*@
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    function PartialPreview(id) {

        $.get("/Admin/PreviewQuestionPartial",
            { id: id },
            function (data) {

                var divId = "#detailsDiv" + id;

                $(divId).html(data);

            });
    }

</script>
