@model ManageTestQuestionsVM

<p>@Model.TestName</p>
<p>@Model.Description</p>


<ul>
    @foreach (var question in Model.Questions)
    {
        <li>
            <div style="border: solid black 1px;">
                @question.Name
                <a asp-controller="Admin" asp-action="ManageQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.testId">Edit</a>
                <a asp-controller="Admin" asp-action="RemoveQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.testId">>Remove</a>
                
                <button data-url='@Url.Action("Details","Admin", new { id = question.Id } )'
                        class="js-reload-details">
                    Preview
                </button>
  
                    <div id="detailsDiv">
                        @Html.Partial("_QuestionFormPartial", Model.QuestionFormVM)
                    </div>
            </div>
        </li>
    }
</ul>

<script>

        $('.js-reload-details').on('click', function (evt) {
        evt.preventDefault();
        evt.stopPropagation();

        var $detailDiv = $('#detailsDiv'),
            url = $(this).data('url');

        $.get(url, function(data) {
            $detailsDiv.replaceWith(data);
        });
        });

</script>