@model ManageTestQuestionsVM
<style>
    .buttons {
        display: flex;
        justify-content: center;
    }
</style>
<h1>Manage Test Questions</h1>
<h3>@Model.TestName</h3>
<p>@Model.Description</p>

<a asp-controller="Admin" asp-action="CreateQuestion" asp-route-TestId="@Model.TestId"><button class="orcaBtn BottomMargin20 btnWidth210"><span class="fa fa-plus rightMargin5"></span>Create New Question</button></a>
<a asp-controller="Admin" asp-action="Import" asp-route-TestId="@Model.TestId"><button class="orcaBtn BottomMargin20 btnWidth210"><span class="fa fa-download rightMargin5"></span>Import Questions</button></a>
<div>
    @foreach (var question in Model.Questions)
            {
        <div class="whiteSquare BottomMargin20">

            @(Html.Raw("<i>"+(question.QuestionText)?
                        .ToString().Replace("<video", "[INSERTED VIDEO]").Replace("<img", "[INSERTED IMAGE]").Replace("<iframe", "[FRAME]")
                        .Substring(0, Math.Min(Html.Raw(question.QuestionText).ToString().Length, 50))+"...</i>"))
            <!-- kommenterar ut ID. samt kortar ner maxlängd för att få en cleanare look och bättre beteende på knappar-->

            <!--i@question.Id-->

            <div class="buttons rightFloat">
                <a asp-controller="Admin" asp-action="UpdateQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.TestId">
                    <button class="orcaBtn rightMargin10 btnWidth120"><span class="fa fa-pencil rightMargin5" title="Edit"></span>Edit</button>
                </a>
                <a asp-controller="Admin" asp-action="RemoveQuestion" asp-route-questionId="@question.Id" asp-route-testId="@Model.TestId">
                    <button class="orcaBtn bgRed rightMargin10 btnWidth120"><span class="fa fa-trash rightMargin5" title="Remove"></span>Delete</button>
                </a>
                <button class="orcaBtn btnWidth120" onclick="PartialPreview(@question.Id)" id="@("btnPreview"+question.Id)"><span class="fa fa-eye rightMargin5"></span>Preview</button>
                <button class="orcaBtn btnWidth120" onclick="PartialHide(@question.Id)" id="@("btnHide"+question.Id)" hidden="hidden"><span class="fa fa-eye-slash rightMargin5"></span>Hide</button>
            </div>

            <div id="@("detailsDiv"+question.Id)"></div>
            <br />
        </div>
    }
</div>
            <!-- floatat knapparna till höger, bra? in i css isf. ändrat Go Back/save till endast Dashboard-->

@*<button onclick="window.history.back()" class="orcaBtn btnWidth120 TopMargin20 bgRed" style="float:right"><span class="fa fa-angle-left rightMargin5" aria-hidden="true"></span>Go Back</button>*@
<a href="~/Admin/Dashboard"><button class="orcaBtn btnWidth210 leftFloat"><span class="fa fa-chevron-left rightMargin5"></span>Return to Dashboard</button></a>

<script>
    function PartialPreview(id) {
        $.get("/Admin/PreviewQuestionPartial",
            { id: id },
            function (data) {

                var buttonPrevId = "#btnPreview" + id;
                var buttonHideId = "#btnHide" + id;

                $(buttonPrevId).hide();
                $(buttonHideId).show();

                var divId = "#detailsDiv" + id;

                $(divId).html("</br>" + data);
                $(divId).show();
            });
    }

    function PartialHide(id) {

        var buttonPrevId = "#btnPreview" + id;
        var buttonHideId = "#btnHide" + id;

        $(buttonPrevId).show();
        $(buttonHideId).hide();

        var divId = "#detailsDiv" + id;
        $(divId).hide();
    }
</script>


