@model EditQuestionVM

@*/// ----------------------- TYPE (GLOBAL) ----------------------////*@
<div class="form-group">
    <label asp-for="Type"></label>
    <select asp-for="Type" class="form-control" id="dropQuestionType" asp-items="Model.ItemType" onchange="TypeChanged()"></select>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
@*/// ------------------------------------------------------------////*@


@*/// ----------------------- SETTINGS ---------------------------////*@
<div id="questionSettingsDiv">
    <h3 class="grayText">Settings</h3>
    <label asp-for="SortOrder"></label>
    <input asp-for="SortOrder" placeholder="Sort order" />
    <span asp-validation-for="SortOrder" class="text-danger"></span>
    <br />
    <label asp-for="HasComment"></label>
    <input asp-for="HasComment" placeholder="Question" />
    <span asp-validation-for="HasComment" class="text-danger"></span>
    <br />
</div>
@*/// ------------------------------------------------------------////*@


@*/// ----------------------- QUESTION ---------------------------////*@

<div class="whiteSquare BottomMargin20">
    <div id="questionTextDiv">
        @Html.Partial("_EditQuestionPartial", Model.QuestionFormVM)

        <button onclick="UpdateQuestionText(@Model.QuestionId)"
                id="@("btnSaveQuestionTxt" + Model.QuestionId)">
            SAVE CHANGES
        </button>

    </div>
</div>

@*/// ------------------------------------------------------------////*@


@*/// ----------------------- ANSWERS ----------------------------////*@
<div id="answersDiv">
    <h3>Answers</h3>

    <a asp-controller="Admin" asp-action="CreateAnswer" asp-route-testId="@Model.TestId" asp-route-questionId="@Model.QuestionId">
        <input type="submit" style="justify-content: center" class="orcaBtn BottomMargin20" value="Add New Answer" />
    </a>

    @if (Model.AnswerDetailVMs != null)
            {
        @foreach (var answer in Model.AnswerDetailVMs)
                {
            <div class="whiteSquare BottomMargin20">

                <div id=@("editAnswerDiv"+answer.AnswerId) @*hidden="hidden" *@>

                    @Html.Partial("_EditAnswerPartial", answer)

                    <button value="Save Changes" onclick="UpdateAnswer(@answer.AnswerId)"
                            id="@("btnSaveAnswerTxt"+answer.AnswerId)">
                        SAVE CHANGES
                    </button>
                </div>

            </div>
        }
    }

</div>
@*/// ------------------------------------------------------------////*@


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

    function CreateAnswer(questionId, testId) {

        $.post("/Admin/CreateAnswer",
            { testId: testId, questionId: questionId });
    }

    function ShowEditAnswer(answerId) {

        $("#editAnswerDiv" + answerId).show();
        $("#listAnswerDiv" + answerId).hide();

        tinymce.execCommand('mceAddEditor', false, 'mceAnswerBox' + answerId);
    }

    function UpdateQuestionText(id) {
        var text = tinymce.get('mceQuestionBox').getContent();

        $.post("/Admin/UpdateQuestionText",
            { questionId: id, questionText: text });
    }

    function UpdateAnswer(answerId, answerText, IsCorrect) {

        var answerText = tinymce.get('mceAnswerBox' + answerId).getContent();

        alert(answerText);

        $.post("/Admin/UpdateAnswer",
            { answerId: answerId, answerText: answerText, isCorrect: false });
    }

    function TypeChanged() {
        var questionType = document.getElementById('dropQuestionType');
        var questionTypeToString = questionType.options[questionType.selectedIndex].text;

        if (questionTypeToString == "Multiple Choice"
            ||
            questionTypeToString == "Single Choice") {
            $("#answersDiv").show();
        }
        else {
            $("#answersDiv").hide();
        }
    }


    //----------------------------------------------------------------//
    // ************************ TINY MCE **************************** //
    //----------------------------------------------------------------//


    //--------------------------QUESTION-------------------------------//
    tinymce.init({
        selector: 'textarea#mceQuestionBox',
        height: 400,
        width: 970,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });

    //----------------------------------------------------------------//
    //----------------------------------------------------------------//



    //--------------------------ANSWERS-------------------------------//
    tinymce.init({
        selector: '.mceAnswerBox',
        height: 100,
        width: 970,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });

    //----------------------------------------------------------------//
    //----------------------------------------------------------------//


</script>
