@model EditQuestionFormVM
<form asp-action="UpdateQuestion" asp-controller="Admin" role="form" class="form-inline">
    <div>
        <textarea asp-for="QuestionText" placeholder="" class="tinyMCE" id="mceQuestionBox"></textarea>
        <span asp-validation-for="QuestionText" class="text-danger"></span>

        <div class="transparentWhiteSquare">
            <br />
            <label asp-for="SortOrder"></label>
            <input asp-for="SortOrder" placeholder="Sort order" />
            <span asp-validation-for="SortOrder" class="text-danger"></span>
            <br />
            <label asp-for="HasComment"></label>
            <input asp-for="HasComment" placeholder="Question" />
            <span asp-validation-for="HasComment" class="text-danger"></span>
            <br />
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-control" id="dropQuestionType" asp-items="Model.ItemTypes" onchange="TypeChanged()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <input type="submit" style="justify-content: center" class="btn btn-default" value="Save Changes" />
        </div>
    </div>
</form>


<hr style="font-size: large" />

<div id="answers">
    <br />
    <a asp-controller="Admin" asp-action="CreateAnswer" asp-route-testId="@Model.TestId" asp-route-questionId="@Model.Id">
        <input type="submit" style="justify-content: center" class="btn btn-success" value="Add New Answer" />
    </a>
    <br />
    <table class="table table-responsive">
        <tbody class="table">

            @if (Model.Answers != null)
            {
                @foreach (var answer in Model.Answers)
                {
                    <tr>
                        <td>
                            <div id=@("listAnswerDiv"+answer.AnswerId)>
                                @(Html.Raw(answer.AnswerText))
                                <button onclick="PartialEditAnswer(@answer.AnswerId)" id="@("editAnswerButton"+answer.AnswerId)">EDIT</button>
                            </div>
                            <div id=@("editAnswerDiv"+answer.AnswerId) hidden="hidden">
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>


@*----------------------------------------------------------------------------------------*@
@*----------------------------------------------------------------------------------------*@

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

    function PartialEditAnswer(id) {

        $.get("/Admin/ListAnswerPartial",
            { id: id },
            function (data) {

                var listAnswerDiv = "#listAnswerDiv" + id;
                var editAnswerDiv = "#editAnswerDiv" + id;

                $(listAnswerDiv).hide();

                $(editAnswerDiv).html(data);
                $(editAnswerDiv).show();
            });
    }

    function TypeChanged() {
        var questionType = document.getElementById('dropQuestionType');
        var questionTypeToString = questionType.options[questionType.selectedIndex].text;

        if (questionTypeToString == "Multiple Choice"
            ||
            questionTypeToString == "Single Choice") {
            $("#answers").show();
        }
        else {
            $("#answers").hide();
        }
    }

    //----------------------------------------------------------------//
    //                          TINY MCE                              //
    //----------------------------------------------------------------//

    //NOT RESPONSIVE

    tinymce.init({
        selector: 'textarea#mceQuestionBox',
        height: 100,
        width: 1000,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });


</script>
