@model EditQuestionFormVM
<h2>Update Question</h2>
<form asp-action="UpdateQuestion" asp-controller="Admin" role="form" class="form-inline">
    <div class="whiteSquare">
        <h3 class="grayText topMargin-8">Question</h3>
        <textarea asp-for="QuestionText" placeholder="" class="tinyMCE" id="mceQuestionBox"></textarea>
        <span asp-validation-for="QuestionText" class="text-danger"></span>
        <br />
        <h4 class="grayText">Settings</h4>
        <hr />
        <label asp-for="SortOrder"></label>
        <input asp-for="SortOrder" placeholder="Sort order" />
        <span asp-validation-for="SortOrder" class="text-danger"></span>
        <br />
        <label asp-for="HasComment"></label>
        <input asp-for="HasComment" placeholder="Question" />
        <span asp-validation-for="HasComment" class="text-danger"></span>
        <br />
        <div class="form-group">
            <label asp-for="Type"></label>
            <select asp-for="Type" class="form-control" id="dropQuestionType" asp-items="Model.ItemTypes" onchange="TypeChanged()"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <hr />
        <button type="submit" style="justify-content: center" class="orcaBtn btnWidth175" value="Save Changes"><span class="fa fa-save rightMargin5"></span>Save Changes</button>
    </div>
</form>

<div id="answers">
    <h3>Answers</h3>
    @if (Model.Answers != null)
            {
        @foreach (var answer in Model.Answers)
                {
            <div id=@("answerContainerDiv"+answer.AnswerId) class="whiteSquare BottomMargin20">
                <div id=@("listAnswerDiv"+answer.AnswerId)>
                    <p class="onTheLine pBold">Answer:</p>
                    <p class="onTheLine">@(Html.Raw(answer.AnswerText))</p>
                    <button class="orcaBtn topMargin-8 rightMargin10 onTheLine btnWidth120"
                            onclick="PartialEditAnswer(@answer.AnswerId)"
                            id="@("editAnswerButton"+answer.AnswerId)"
                            style="float:right">
                        <span class="fa fa-pencil rightMargin5"></span>Edit
                    </button>
                    <button class="orcaBtn topMargin-8 rightMargin10 onTheLine btnWidth120 bgRed"
                            onclick="deleteAnswer(@Model.TestId, @Model.Id, @answer.AnswerId)"
                            style="float:right">
                        <span class="fa fa-trash rightMargin5"></span>Delete
                    </button>
                </div>
                <div id=@("editAnswerDiv"+answer.AnswerId) hidden="hidden"></div>
            </div>
        }
    }
    <a href="~/Admin/Test/@Model.TestId"><button class="orcaBtn btnWidth175"><span class="fa fa-chevron-left rightMargin5"></span>Back</button></a>
    <a asp-controller="Admin" asp-action="CreateAnswer" asp-route-testId="@Model.TestId" asp-route-questionId="@Model.Id">
        <button type="submit" style="justify-content: center" class="orcaBtn BottomMargin20 btnWidth175" value="Add New Answer"><span class="fa fa-plus rightMargin5"></span>Add New Answer</button>
    </a>
</div>


@*----------------------------------------------------------------------------------------*@
@*----------------------------------------------------------------------------------------*@

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

    var deleteAnswer = function (testId, questionId, answerId) {
        $.get("/Admin/RemoveAnswer", {
            testId: testId, questionId: questionId, answerId: answerId, function (data) {
                $('#answerContainerDiv' + answerId).hide();
            }
        });
    }

    function PartialEditAnswer(id) {

        $.get("/Admin/ListAnswerPartial",
            { id: id },
            function (data) {

                var listAnswerDiv = "#listAnswerDiv" + id;
                var editAnswerDiv = "#editAnswerDiv" + id;

                $(listAnswerDiv).hide();

                $(editAnswerDiv).html(data);
                $(editAnswerDiv).show();
            });
    }

    function TypeChanged() {
        var questionType = document.getElementById('dropQuestionType');
        var questionTypeToString = questionType.options[questionType.selectedIndex].text;

        if (questionTypeToString == "Multiple Choice"
            ||
            questionTypeToString == "Single Choice") {
            $("#answers").show();
        }
        else {
            $("#answers").hide();
        }
    }

    //----------------------------------------------------------------//
    //                          TINY MCE                              //
    //----------------------------------------------------------------//

    //NOT RESPONSIVE

    tinymce.init({
        selector: 'textarea#mceQuestionBox',
        height: 100,
        width: 970,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });


</script>
