@model EditQuestionVM

@*/// ----------------------- TYPE (GLOBAL) ----------------------////*@
<div class="form-group">
    <label asp-for="Type"></label>
    <select asp-for="Type" class="form-control" id="dropQuestionType" asp-items="Model.ItemType" onchange="TypeChanged()"></select>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>
@*/// ------------------------------------------------------------////*@


@*/// ----------------------- SETTINGS ---------------------------////*@
<div id="questionSettingsDiv">
    <h3 class="grayText">Settings</h3>
    <label asp-for="SortOrder"></label>
    <input asp-for="SortOrder" placeholder="Sort order" />
    <span asp-validation-for="SortOrder" class="text-danger"></span>
    <br />
    <label asp-for="HasComment"></label>
    <input asp-for="HasComment" placeholder="Question" />
    <span asp-validation-for="HasComment" class="text-danger"></span>
    <br />
</div>
@*/// ------------------------------------------------------------////*@

<a asp-action="CreateAnswer" asp-controller="Admin" asp-route-testId="@Model.TestId" asp-route-questionId="@Model.QuestionId">
    Create New Answer
</a>


@*/// ----------------------- QUESTION ---------------------------////*@

<div class="whiteSquare BottomMargin20">

    <div id="questionTextDiv">

        <div id="editQuestionTextDiv" hidden="hidden">

            <button onclick="UpdateQuestionText(@Model.QuestionId)" hidden="hidden"
                    id="@("btnSaveQuestionTxt" + Model.QuestionId)">
                SAVE CHANGES
            </button>
            @Html.Partial("_EditQuestionPartial", Model.QuestionFormVM)

        </div>

        <button onclick="ShowEditQuestionText(@Model.QuestionId)"
                id="@("btnEditQuestionTxt" + Model.QuestionId)">
            EDIT QUESTION
        </button>

        <div id="previewQuestionTextDiv">
            @Html.Partial("_QuestionFormPartial", Model.QuestionFormVM)
        </div>

    </div>

</div>

@*/// ------------------------------------------------------------////*@


@*/// ----------------------- ANSWERS ----------------------------////*@
<div id="answersDiv">

    @foreach (var answer in Model.AnswerDetailVMs)
    {
        <div class="whiteSquare BottomMargin20">

            <button onclick="UpdateAnswer(@answer.AnswerId, @Model.QuestionId)" hidden="hidden"
                    id="@("btnUpdateAnswer" + answer.AnswerId)">
                SAVE CHANGES
            </button>

            <button onclick="ShowEditAnswer(@answer.AnswerId)"
                    id="@("btnShowEditAnswer" + answer.AnswerId)">
                Edit Answer
            </button>

            <div id=@("editAnswerDiv"+ answer.AnswerId) hidden="hidden">
                @Html.Partial("_EditAnswerPartial", answer)

                <input type="checkbox" id="@("answerIsCorrect"+answer.AnswerId)" value="Hej"
                       @(answer.IsChecked ? "checked=\"checked\"" : "") /> This Answer Is Correct
            </div>

            <div id=@("previewAnswerDiv"+ answer.AnswerId)>

                @Html.Partial("_AnswerFormPartial", answer)

            </div>
        </div>
    }

</div>
@*/// ------------------------------------------------------------////*@


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

    function ShowEditAnswer(answerId) {

        tinymce.execCommand('mceAddEditor', false, 'mceAnswerBox' + answerId);

        $("#editAnswerDiv" + answerId).show();
        $("#previewAnswerDiv" + answerId).hide();
        $("#btnUpdateAnswer" + answerId).show();
        $("#btnShowEditAnswer" + answerId).hide();

    }

    function UpdateAnswer(answerId, questionId) {

        var answerText = tinymce.get('mceAnswerBox' + answerId).getContent();
        var actionUrl = "/Admin/UpdateAnswer";

        var isCorrect = (document.getElementById('answerIsCorrect' + answerId).checked);

        $.post(actionUrl, { questionId: questionId, answerId: answerId, answerText: answerText, isCorrect: isCorrect })
                .done(function (response) {
                    $("#previewAnswerDiv" + answerId).html(response);
                });

        $("#btnUpdateAnswer" + answerId).hide();
        $("#btnShowEditAnswer" + answerId).show();
        $("#editAnswerDiv" + answerId).hide();
        $("#previewAnswerDiv" + answerId).show();

    }

    function UpdateQuestionText(id) {

        var text = tinymce.get('mceQuestionBox').getContent();
        var actionUrl = "/Admin/UpdateQuestionText";

        $.post(actionUrl, { questionId: id, questionText: text })
        .done(function (response) {
            $("#previewQuestionTextDiv").html(response);
        });

        $("#previewQuestionTextDiv").show()
        $("#btnEditQuestionTxt" + id).show()
        $("#btnSaveQuestionTxt" + id).hide()
        $("#editQuestionTextDiv").hide()
    }

    function ShowEditQuestionText(id) {

        $.post("/Admin/EditQuestionText", { questionId: id });

        $("#editQuestionTextDiv").show()
        $("#btnSaveQuestionTxt" + id).show()
        $("#btnEditQuestionTxt" + id).hide()
        $("#previewQuestionTextDiv").hide()
    }


    function TypeChanged() {
        var questionType = document.getElementById('dropQuestionType');
        var questionTypeToString = questionType.options[questionType.selectedIndex].text;

        if (questionTypeToString == "Multiple Choice"
            ||
            questionTypeToString == "Single Choice") {
            $("#answersDiv").show();
        }
        else {
            $("#answersDiv").hide();
        }
    }

    //Currently not used----------------------------//
    function CreateAnswer(questionId, testId) {

        $.post("/Admin/CreateAnswer", { testId: testId, questionId: questionId })
                .done(function (response) {
                    $("#answersDiv").html(response);
                });
    }
    //----------------------------------------------//


    //----------------------------------------------------------------//
    // ************************ TINY MCE **************************** //
    //----------------------------------------------------------------//


    //--------------------------QUESTION-------------------------------//
    tinymce.init({
        selector: 'textarea#mceQuestionBox',
        height: 380,
        width: 1045,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });

    //----------------------------------------------------------------//
    //----------------------------------------------------------------//


    //--------------------------ANSWERS-------------------------------//
    tinymce.init({
        selector: '.mceAnswerBox',
        height: 100,
        width: 1045,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });

    //----------------------------------------------------------------//
    //----------------------------------------------------------------//


</script>
